/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

a:hover { text-decoration: none; }

@font-face { font-family: 'Hammershmith'; src: url(../font/font-text/HammersmithOne.ttf); }
@font-face { font-family: 'Playfair-Regular'; src: url(../font/font-text/PlayfairDisplay-Regular.otf); }
@font-face { font-family: 'Playfair-Regular-Black'; src: url(../font/font-text/PlayfairDisplay-Black.otf); }
@font-face { font-family: 'Playfair-Bold'; src: url(../font/font-text/PlayfairDisplay-Bold.otf); }
@font-face { font-family: 'Roboto', sans-serif; }
.owl-theme .owl-nav.disabled + .owl-dots { margin-top: 0; padding-bottom: 70px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span { background-color: #1ccacf; border: solid 1px #1ccacf; }

.owl-theme .owl-dots .owl-dot span { width: 13px; height: 13px; border: solid 1px #ffffff; background-color: #d6d6d600; }

#sld-active.owl-theme .owl-dot span { width: 10px; height: 10px; }

.header { background-image: url("../img/banner.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; }
.header .header-overlay { background-image: -webkit-gradient(linear, left bottom, left top, from(#09052f), to(#311d5e)); background-image: linear-gradient(0deg, #09052f 0%, #311d5e 100%); background-image: -ms-linear-gradient(0deg, #09052f 0%, #311d5e 100%); opacity: 0.851; }
.header .header-overlay .header-heading:after { content: ''; display: block; clear: both; }
.header .header-overlay .header-heading #logo { padding-top: 15px; display: inline-block; }
.header .header-overlay .header-heading #logo span { font-size: 30px; color: #1ccacf; font-family: 'Roboto' ,sans-serif; font-weight: 100; padding-left: 15px; }
.header .header-overlay .header-heading nav.header-navigation ul li { float: left; padding-left: 20px; padding-top: 35px; }
.header .header-overlay .header-heading nav.header-navigation ul li a { font-size: 13px; font-family: 'Roboto' ,sans-serif; font-weight: 900; color: #ffffff; }
.header .header-overlay .header-heading nav.header-navigation ul li a:hover { color: #1ccacf; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
.header .header-overlay .header-heading nav.header-navigation ul li a.header-navigation__active { color: #1ccacf; }

.header-owl { margin-top: 180px; }
.header-owl .sld-1 { text-align: center; }
.header-owl .sld-1 h2 { font-family: 'Playfair-Regular-Black'; font-size: 32px; color: #ffffff; }
.header-owl .sld-1 span { display: inline-block; width: 50px; height: 2px; background-color: #1ccacf; text-align: center; margin: 50px 0; }
.header-owl .sld-1 p { font-size: 14px; color: #ffffff; line-height: 24px; font-family: 'Roboto'; }
.header-owl .sld-1 a { display: inline-block; font-family: 'Hammershmith'; font-size: 16px; padding: 10px; border: solid 1px #1ccacf; color: #1ccacf; margin: 50px 0px 125px 0px; }

.main-heading { padding: 70px 0; }
.main-heading__img img { margin-left: 180px; margin-right: auto; display: block; }
.main-heading__content h2 { font-family: 'Playfair-Bold'; font-size: 22px; padding-bottom: 28px; }
.main-heading__content p.main-heading__desc { font-size: 14px; font-family: 'Roboto' ,sans-serif; color: #413d4b; line-height: 22px; padding-bottom: 35px; }
.main-heading__content p { font-size: 14px; font-family: 'Roboto' ,sans-serif; color: #413d4b; line-height: 22px; }
.main-heading__content a { display: inline-block; font-family: 'Hammershmith'; font-size: 16px; padding: 10px; border: solid 1px #1ccacf; color: #1ccacf; margin-top: 30px; }

#main-between { background-image: url("../img/banner2.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center; }
#main-between .main-between-overlay { background-image: -webkit-gradient(linear, left bottom, left top, from(#09052f), to(#311d5e)); background-image: linear-gradient(0deg, #09052f 0%, #311d5e 100%); background-image: -ms-linear-gradient(0deg, #09052f 0%, #311d5e 100%); opacity: 0.851; text-align: center; padding: 200px 0; }
#main-between .main-between-overlay a { display: inline-block; width: 70px; height: 70px; border-radius: 50px; border: solid 2px #fff; position: relative; }
#main-between .main-between-overlay a img { position: absolute; top: 10px; left: 20px; }
#main-between .main-between-overlay h2 { font-family: 'Roboto' ,sans-serif; color: #ffffff; font-size: 16px; font-weight: 900; padding-top: 33px; }

#main-body .main-body-title { padding: 70px 45px; }
#main-body .main-body-title h2 { font-family: 'Playfair-Bold'; font-size: 22px; }
#main-body .main-body-title p { font-family: 'Playfair-Regular'; font-size: 14px; color: #2f2d35; padding: 20px 0; }
#main-body .main-body-title span { display: inline-block; width: 50px; height: 3px; background-color: #c6c4c9; }
#main-body .main-body-service .bd { border-bottom: solid 1px #ebebeb; border-right: solid 1px #ebebeb; }
#main-body .main-body-service .bd .main-body-iem { padding: 40px 0; }
#main-body .main-body-service .bd .main-body-iem h2 { font-family: 'Roboto' ,sans-serif; font-size: 14px; font-weight: 900; padding: 35px 25px; }
#main-body .main-body-service .bd .main-body-iem p { font-family: 'Roboto' ,sans-serif; font-size: 14px; font-weight: 400; line-height: 22px; }

#main-team { background-image: url("../img/banner3.jpg"); background-size: cover; background-position: center; background-repeat: no-repeat; }
#main-team .main-team-overlay { background-image: -webkit-gradient(linear, left bottom, left top, from(#09052f), to(#311d5e)); background-image: linear-gradient(0deg, #09052f 0%, #311d5e 100%); background-image: -ms-linear-gradient(0deg, #09052f 0%, #311d5e 100%); opacity: 0.851; padding: 70px 0; }
#main-team .main-team-overlay .main-team-title h2 { font-family: 'Playfair-Bold' ,sans-serif; font-size: 22px; color: #ffffff; }
#main-team .main-team-overlay .main-team-title p { font-family: 'Playfair-Regular'; font-size: 14px; color: #ffffff; padding: 20px 0; }
#main-team .main-team-overlay .main-team-title span { display: inline-block; width: 50px; height: 3px; background-color: #ebebeb57; }
#main-team .main-team-overlay .main-team-name { text-align: center; padding: 45px 70px; }
#main-team .main-team-overlay .main-team-name .main-team-content { border: solid 1px #ebebeb6e; padding-bottom: 25px; }
#main-team .main-team-overlay .main-team-name .main-team-content h2 { font-family: 'Roboto' ,sans-serif; font-weight: 900; font-size: 14px; color: #ffffff; padding: 20px 10px; }
#main-team .main-team-overlay .main-team-name .main-team-content span { font-family: 'Roboto' ,sans-serif; font-size: 13px; font-weight: 400; color: #ffffff; }
#main-team .main-team-overlay .main-team-last span { display: block; font-family: 'Roboto' ,sans-serif; font-size: 14px; color: #ffffff; padding: 30px 0; }
#main-team .main-team-overlay .main-team-last a { display: inline-block; padding: 10px; border: solid 1px #1ccacf; color: #1ccacf; font-family: 'Hammershmith'; }

#main-works#main-works:after { content: ""; clear: both; display: block; }
#main-works .main-works-heading { padding: 70px 0; }
#main-works .main-works-heading h2 { display: inline-block; font-family: 'Playfair-Bold'; font-size: 22px; }
#main-works .main-works-heading span { font-family: 'Roboto' ,sans-serif; font-size: 14px; padding-top: 8px; }
#main-works .main-works-img { width: 100%; }
#main-works .main-works-img a img { width: 16.666%; float: left; padding-left: 1px; padding-bottom: 1px; }

.load-more { text-align: center; padding: 70px 0; }
.load-more a { display: inline-block; padding: 10px; border: solid 1px #1ccacf; font-family: 'Hammershmith'; font-size: 16px; text-transform: uppercase; color: #1ccacf; }

#main-active { background-image: url("../img/banner4.jpg"); background-position: center; background-size: cover; background-repeat: no-repeat; }
#main-active .main-active-overlay { background-image: -webkit-gradient(linear, left bottom, left top, from(#09052f), to(#311d5e)); background-image: linear-gradient(0deg, #09052f 0%, #311d5e 100%); background-image: -ms-linear-gradient(0deg, #09052f 0%, #311d5e 100%); opacity: 0.851; padding-top: 70px; }
#main-active .main-active-overlay .main-active-content { text-align: center; }
#main-active .main-active-overlay .main-active-content img { padding-bottom: 40px; }
#main-active .main-active-overlay .main-active-content p { font-family: 'Playfair-Regular'; color: #ffffff; font-size: 16px; line-height: 26px; padding-bottom: 50px; }
#main-active .main-active-overlay .main-active-content h2 { font-family: 'Roboto' ,sans-serif; font-size: 14px; color: #ffffff; font-weight: 900; padding-bottom: 13px; }
#main-active .main-active-overlay .main-active-content span { font-family: 'Roboto' ,sans-serif; font-size: 13px; color: #ffffff; }
#main-active .main-active-overlay .main-active-content .main-active-owl { padding-top: 40px; }
#main-active .main-active-overlay .main-active-content .main-active-owl #sld-active .item.sl-2 a img { display: inline-block; width: 6%; padding-bottom: 0; }

#contact { padding: 70px 0; }
#contact .contact-message h2 { font-family: 'Playfair-Bold'; font-size: 22px; padding-bottom: 35px; }
#contact .contact-message .form-group { margin-bottom: 2rem; }
#contact .contact-message .form-group input.form-control { border-radius: 0; width: 85%; }
#contact .contact-message .form-group textarea.form-control { width: 85%; }
#contact .contact-message a { display: inline-block; padding: 10px 30px; color: #1ccacf; font-family: 'Hammershmith'; font-size: 16px; border: solid 1px #1ccacf; color: #1ccacf; text-transform: uppercase; }
#contact .contact-partner { display: block; width: 100%; }
#contact .contact-partner:after { display: block; clear: both; content: ""; }
#contact .contact-partner h2 { font-family: 'Playfair-Bold'; font-size: 22px; padding-bottom: 35px; }
#contact .contact-partner .contact-partner-group1 { width: 50%; }
#contact .contact-partner .contact-partner-group1 a { padding-bottom: 30px; display: inline-block; }
#contact .contact-partner .contact-partner-group2 { width: 50%; }
#contact .contact-partner .contact-partner-group2 a { padding-bottom: 32px; display: inline-block; }

#footer { background-image: url("../img/banner5.jpg"); background-size: cover; background-position: center; background-repeat: no-repeat; }
#footer .footer-overlay { background-image: -webkit-gradient(linear, left bottom, left top, from(#09052f), to(#311d5e)); background-image: linear-gradient(0deg, #09052f 0%, #311d5e 100%); background-image: -ms-linear-gradient(0deg, #09052f 0%, #311d5e 100%); padding: 90px 0 65px 0; opacity: 0.851; }
#footer .footer-overlay .footer-logo { padding-bottom: 80px; }
#footer .footer-overlay .footer-logo p { font-family: 'Roboto', sans-serif; font-size: 14px; color: #ffffff; line-height: 26px; }
#footer .footer-overlay .footer-contact { color: #ffffff; }
#footer .footer-overlay .footer-contact h2 { font-family: 'Roboto' ,sans-serif; font-size: 15px; color: #ffffff; font-weight: 900; padding-bottom: 40px; }
#footer .footer-overlay .footer-contact .footer-contact__sub { padding-bottom: 25px; }
#footer .footer-overlay .footer-contact .footer-contact__sub span { font-family: 'Roboto'; font-size: 14px; line-height: 26px; }
#footer .footer-overlay .footer-touch h2 { font-family: 'Roboto' ,sans-serif; font-size: 15px; color: #ffffff; font-weight: 900; padding-bottom: 40px; }
#footer .footer-overlay .footer-touch .footer-input input { background-color: inherit; border: solid 1px #ffffff40; width: 60%; display: inline-block; border-radius: 0; }
#footer .footer-overlay .footer-touch .footer-input a { display: inline-block; padding: 9px 26px; background-color: #ffffff40; color: #ebebeb; border: solid 1px #ffffff40; }
#footer .footer-overlay .footer-touch .footer-social { padding-top: 25px; }
#footer .footer-overlay .footer-touch .footer-social a { display: inline-block; width: 34px; height: 34px; border: solid 1px #ffffff; border-radius: 50px; text-align: center; }
#footer .footer-overlay .footer-touch .footer-social a span { display: inline-block; padding-top: 8px; color: #ffffff; }

.footer-sub span:nth-of-type(1) { font-family: 'Roboto'; font-size: 14px; color: #ffffff; text-transform: uppercase; }
.footer-sub span:nth-of-type(2) { font-family: 'Roboto'; font-size: 14px; color: #ffffff; text-transform: uppercase; padding: 0 20px; }
.footer-sub span:nth-of-type(3) { font-family: 'Roboto'; font-size: 14px; color: #ffffff; text-transform: uppercase; }
.footer-sub span:nth-of-type(4) { font-family: 'Roboto'; font-size: 14px; color: #ffffff; text-transform: uppercase; float: right; }

/*
Media
*/
@media only screen and (min-width: 320px) { .main-heading__img img { margin-left: 0px; margin-bottom: 20px; }
  #main-team .main-team-overlay .main-team-name .main-team-content { border: none; }
  #main-team .main-team-overlay .main-team-name { padding: 0; }
  .main-team-content img { width: 100%; }
  #main-team .main-team-overlay .main-team-title span { margin-bottom: 30px; }
  #main-works .main-works-heading span { display: inline-block; float: left; }
  #main-works .main-works-img a img { width: 100%; }
  #contact .contact-message .form-group input.form-control { width: 100%; }
  #contact .contact-message .form-group textarea.form-control { width: 100%; }
  .contact-partner { display: block; }
  #contact .contact-partner .contact-partner-group1 { width: 100%; display: block; }
  #contact .contact-partner .contact-partner-group1 a { text-align: center; display: inline-block; padding-bottom: 0; }
  #contact .contact-partner .contact-partner-group2 { width: 100%; display: block; }
  #contact .contact-partner .contact-partner-group2 a { padding-bottom: 0; display: inline-block; text-align: center; }
  #contact .contact-partner h2 { text-align: center; padding-top: 55px; }
  #footer .footer-overlay .footer-logo { padding-bottom: 45px; }
  .footer-contact-sub2 { padding-bottom: 35px; }
  .footer-sub span { display: block; }
  .footer-sub span:nth-of-type(1) { padding-top: 35px; }
  .footer-sub span:nth-of-type(2) { padding: 0; padding: 10px 0 !important; }
  .footer-sub span:nth-of-type(3) { padding-bottom: 60px; }
  .footer-sub span:nth-of-type(4) { float: left; }
  #footer .footer-overlay .footer-touch .footer-social a { margin-right: 11px; }
  #footer .footer-overlay .footer-touch .footer-input input { width: 75%; } }
@media only screen and (min-width: 375px) { #contact .contact-partner .contact-partner-group1 { width: 50%; display: inline-block; float: left; }
  #contact .contact-partner .contact-partner-group2 { width: 50%; display: inline-block; float: left; } }
@media only screen and (min-width: 425px) { #main-works .main-works-img a img { width: 50%; }
  .main-team-content img { width: 50%; float: left; padding-bottom: 20px; } }
@media only screen and (min-width: 768px) { #main-works .main-works-img a img { width: 33.33333%; }
  #contact .contact-partner h2 { padding-top: 0; }
  #contact .contact-partner .contact-partner-group1 { width: 50%; }
  #contact .contact-partner .contact-partner-group2 { width: 50%; float: left; }
  #contact .contact-partner .contact-partner-group1 a img { width: 90%; display: inline-block; }
  #contact .contact-partner .contact-partner-group2 a img { width: 90%; display: inline-block; }
  #footer .footer-overlay .footer-touch .footer-input input { width: 60%; }
  .footer-sub span:nth-of-type(4) { float: none; }
  #footer .footer-overlay .footer-touch .footer-social a { margin-right: 30px; margin-bottom: 10px; }
  .main-team-content img { width: 100%; float: none; } }
@media only screen and (min-width: 992px) { #contact .contact-partner .contact-partner-group1 a img { width: 83%; padding-bottom: 0; }
  #contact .contact-partner .contact-partner-group2 a img { width: 83%; padding-bottom: 0; }
  #main-works .main-works-img a img { width: 16.666666%; }
  .footer-sub span { display: inline-block; }
  .footer-sub span:nth-of-type(2) { padding: 0 10px; }
  .footer-sub span:nth-of-type(1) { padding: 0; }
  .footer-sub { margin-top: 25px; }
  .footer-sub span:nth-of-type(4) { float: right; padding-top: 10px; }
  .footer-sub span:nth-of-type(3) { padding: 0; } }
@media only screen and (min-width: 1024px) { #main-works .main-works-img a img { width: 16.66666666%; } }

/*# sourceMappingURL=main.css.map */