//Import file Css...
@import "mixin";
@import "reset";
@import "setting";
@import "modify";

.header{
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .header-overlay{
    background-image: linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background-image: -moz-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    opacity: 0.851;
    .header-heading{
      &:after{
        content: '';
        display: block;
        clear: both;
      }
      #logo{
        padding-top: 15px;
        display: inline-block;
        a{}
        span{
          font-size: 30px;
          color: $cl-blue;
          font-family: 'Roboto' ,sans-serif;
          font-weight: 100;
          padding-left: 15px;
        }
      }
      nav.header-navigation{
        ul{
          li{
            float:left;
            padding-left: 20px;
            padding-top: 35px;
            a{
              font-size: 13px;
              font-family: 'Roboto' ,sans-serif;
              font-weight: 900;
              color: $cl-white;
              &:hover{
                color: $cl-blue;
                transition: all 0.3s ease;
              }
            }
            a.header-navigation__active{
              color: $cl-blue;
            }
          }
        }
      }
    }
  }
}
.header-owl{
  margin-top: 180px;
  .sld-1{
    text-align: center;
    h2{
      font-family: 'Playfair-Regular-Black';
      font-size: 32px;
      color: $cl-white;
    }
    span{
      display: inline-block;
      width: 50px;
      height: 2px;
      background-color: $cl-blue;
      text-align: center;
      margin: 50px 0;
    }
    p{
      font-size: 14px;
      color: $cl-white;
      line-height: 24px;
      font-family: 'Roboto';
    }
    a{
      display:inline-block;
      font-family: 'Hammershmith';
      font-size: 16px;
      padding: 10px;
      border: solid 1px $cl-blue;
      color: $cl-blue;
      margin: 50px 0px 125px 0px;
    }
  }
}
//End Header
.main-heading{
  padding: 70px 0;
  &__img{
    img{
      margin-left: 180px;
      margin-right: auto;
      display: block;
    }
  }
  &__content{
    h2{
      font-family: 'Playfair-Bold';
      font-size: 22px;
      padding-bottom: 28px;

    }
    p.main-heading__desc{
      font-size: 14px;
      font-family: 'Roboto' ,sans-serif;
      color: $cl-black;
      line-height: 22px;
      padding-bottom: 35px;
    }
    p{
      font-size: 14px;
      font-family: 'Roboto' ,sans-serif;
      color: $cl-black;
      line-height: 22px;
    }
    a{
      display: inline-block;
      font-family: 'Hammershmith';
      font-size: 16px;
      padding: 10px;
      border: solid 1px #1ccacf;
      color: #1ccacf;
      margin-top: 30px;
    }
  }
}
//End Main-Headding.
#main-between{
  background-image:url("../img/banner2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .main-between-overlay{
    background-image: linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background-image: -moz-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    opacity: 0.851;
    text-align: center;
    padding :200px 0;
    a{
      display: inline-block;
      width: 70px;
      height: 70px;
      border-radius: 50px;
      border: solid 2px #fff;
      position: relative;
      img{
        position: absolute;
        top:10px;
        left: 20px;
      }
    }
    h2{
      font-family: 'Roboto' ,sans-serif;
      color:$cl-white;
      font-size: 16px;
      font-weight: 900;
      padding-top:33px;
    }
  }
}
//End main-between
#main-body{
  .main-body-title{
    padding: 70px 45px;
    h2{
      font-family: 'Playfair-Bold';
      font-size: 22px;
    }
    p{
      font-family: 'Playfair-Regular';
      font-size: 14px;
      color: #2f2d35;
      padding :20px 0;
    }
    span{
      display: inline-block;
      width: 50px;
      height: 3px;
      background-color: $cl-black-light;
    }
  }
  .main-body-service{
    .bd{
      border-bottom: $bd-cl-gray;
      border-right: $bd-cl-gray;
      .main-body-iem{
        padding: 40px 0;
        img{
        }
        h2{
          font-family: 'Roboto' ,sans-serif;
          font-size: 14px;
          font-weight: 900;
          padding:35px 25px;
        }
        p{
          font-family: 'Roboto' ,sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
        }
      }
    }
  }
}
//End Main Body
#main-team{
  background-image:url("../img/banner3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .main-team-overlay{
    background-image:  linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background-image: -moz-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    opacity: 0.851;
    padding: 70px 0;
    .main-team-title{
      h2{
        font-family: 'Playfair-Bold' ,sans-serif;
        font-size: 22px;
        color: $cl-white;
      }
      p{
        font-family: 'Playfair-Regular';
        font-size: 14px;
        color: $cl-white;
        padding :20px 0;
      }
      span{
        display: inline-block;
        width: 50px;
        height: 3px;
        background-color:#ebebeb57;
      }
    }
    .main-team-name{
      text-align: center;
      padding: 45px 70px;
      .main-team-content{
        border: solid 1px #ebebeb6e;
        padding-bottom: 25px;
        img{}
        h2{
          font-family: 'Roboto' ,sans-serif;
          font-weight: 900;
          font-size: 14px;
          color: $cl-white;
          padding: 20px 10px;
        }
        span{
          font-family: 'Roboto' ,sans-serif;
          font-size: 13px;
          font-weight: 400;
          color: $cl-white;
        }
      }
    }
    .main-team-last{
      span{
        display: block;
        font-family: 'Roboto' ,sans-serif;
        font-size: 14px;
        color: $cl-white;
        padding: 30px 0;
      }
      a{
        display: inline-block;
        padding :10px;
        border: solid 1px $cl-blue;
        color: $cl-blue;
        font-family: 'Hammershmith';
      }
    }
  }
}
//End Main-Team.
#main-works{
  &#main-works:after{
    content: "";
    clear: both;
    display: block;
  }
  .main-works-heading{
    padding:70px 0;
    h2{
      display: inline-block;
      font-family: 'Playfair-Bold';
      font-size: 22px;
    }
    span{
      font-family: 'Roboto' ,sans-serif;
      font-size: 14px;
      padding-top: 8px;
    }
  }
  .main-works-img{
    width: 100%;
    a{
      img{
        width: 16.666%;
        float: left;
        padding-left: 1px;
        padding-bottom: 1px;

      }
    }
  }
}
//End Main-Works.
.load-more{
  text-align: center;
  padding:70px 0;
  a{
    display: inline-block;
    padding: 10px;
    border: solid 1px $cl-blue;
    font-family: 'Hammershmith';
    font-size: 16px;
    text-transform: uppercase;
    color: $cl-blue;
  }
}
//End Load-More
#main-active{
  background-image:url("../img/banner4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .main-active-overlay{
    background-image: linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background-image: -moz-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    opacity: 0.851;
    padding-top: 70px;
    .main-active-content{
      text-align: center;
      img{
        padding-bottom: 40px;
      }
      p{
        font-family: 'Playfair-Regular';
        color:$cl-white;
        font-size: 16px;
        line-height: 26px;
        padding-bottom: 50px;
      }
      h2{
        font-family: 'Roboto' ,sans-serif;
        font-size: 14px;
        color: $cl-white;
        font-weight: 900;
        padding-bottom: 13px;
      }
      span{
        font-family: 'Roboto' ,sans-serif;
        font-size: 13px;
        color : $cl-white;
      }
      .main-active-owl{
        padding-top:40px;
        #sld-active{
          .item.sl-2{
            a{
              img{
                display: inline-block;
                width: 6%;
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
//End Main-Active
#contact{
  padding: 70px 0;
  .contact-message{
    h2{
      font-family: 'Playfair-Bold';
      font-size: 22px;
      padding-bottom: 35px;
    }
    .form-group{
      margin-bottom: 2rem;
      input.form-control{
        border-radius: 0;
        width: 85%;
      }
      textarea.form-control{
        width: 85%;
      }
    }
    a{
      display: inline-block;
      padding :10px 30px;
      color: $cl-blue;
      font-family: 'Hammershmith';
      font-size: 16px;
      border :solid 1px $cl-blue;
      color: $cl-blue;
      text-transform: uppercase;
    }
  }
  .contact-partner{
    display: block;
    &:after{
      display: block;
      clear:both;
      content:""
    }
    width: 100%;
    h2{
      font-family: 'Playfair-Bold';
      font-size: 22px;
      padding-bottom: 35px;
    }
    .contact-partner-group1{
      width: 50%;
      a{
        padding-bottom: 30px;
        display: inline-block;
        img{
        }
      }
    }
    .contact-partner-group2{
      width: 50%;
      a{
        padding-bottom: 32px;
        display: inline-block;
        img{
        }
      }
    }
  }
}
//End Contact

#footer{
  background-image:url("../img/banner5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .footer-overlay{
    background-image: linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background-image: -moz-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    padding:90px 0 65px 0;
    opacity: 0.851;

    .footer-logo{
      padding-bottom: 80px;
      a{
        img{}
      }
      p{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: $cl-white;
        line-height: 26px;
      }
    }
    .footer-contact{
      color: $cl-white;
      h2{
        font-family: 'Roboto' ,sans-serif;
        font-size: 15px;
        color: $cl-white;
        font-weight: 900;
        padding-bottom: 40px;
      }
      .footer-contact__sub{
        padding-bottom: 25px;
        span{
          font-family: 'Roboto';
          font-size: 14px;
          line-height: 26px;
        }
      }
      .footer-contact-sub2{}

    }
    .footer-touch{
      h2{
        font-family: 'Roboto' ,sans-serif;
        font-size: 15px;
        color: $cl-white;
        font-weight: 900;
        padding-bottom: 40px;
      }
      .footer-input{
        input{
          background-color: inherit;
          border: solid 1px #ffffff40;
          width: 60%;
          display: inline-block;
          border-radius: 0;
        }
        a{
          display: inline-block;
          padding:9px 26px;
          background-color: #ffffff40;
          color: $cl-gray;
          border: solid 1px #ffffff40;;
          i{}
        }
      }
      .footer-social{
        padding-top: 25px;
        a{
          display: inline-block;
          width: 34px;
          height: 34px;
          border: solid 1px $cl-white;
          border-radius: 50px;
          text-align: center;
          span{
            display: inline-block;
            padding-top:8px;
            color: $cl-white;
          }
        }
      }
    }
  }
}
.footer-sub{
  span:nth-of-type(1){
    font-family: 'Roboto';
    font-size: 14px;
    color :$cl-white;
    text-transform: uppercase;

  }
  span:nth-of-type(2){
    font-family: 'Roboto';
    font-size: 14px;
    color :$cl-white;
    text-transform: uppercase;
    padding: 0 20px;
  }
  span:nth-of-type(3){
    font-family: 'Roboto';
    font-size: 14px;
    color :$cl-white;
    text-transform: uppercase;
  }
  span:nth-of-type(4){
    font-family: 'Roboto';
    font-size: 14px;
    color :$cl-white;
    text-transform: uppercase;
    float: right;
  }

}
//End Footer

/*
Media
*/
@media only screen and (min-width: 320px){
  .main-heading__img img{
    margin-left: 0px;
    margin-bottom: 20px;
  }
  #main-team .main-team-overlay .main-team-name .main-team-content{
    border: none;
  }
  #main-team .main-team-overlay .main-team-name{
    padding: 0;
  }
  .main-team-content img{
    width: 100%;
  }
  #main-team .main-team-overlay .main-team-title span{
    margin-bottom: 30px;
  }
  #main-works .main-works-heading span{
    display: inline-block;
    float: left;
  }
  #main-works .main-works-img a img{
    width: 100%;
  }
  #contact .contact-message .form-group input.form-control{
    width: 100%;
  }
  #contact .contact-message .form-group textarea.form-control{
    width: 100%;
  }
 .contact-partner{
   display: block;
 }
  #contact .contact-partner .contact-partner-group1{
    width: 100%;
    display: block;
  }
  #contact .contact-partner .contact-partner-group1 a{
    text-align: center;
    display: inline-block;
    padding-bottom: 0;
  }
  #contact .contact-partner .contact-partner-group2{
    width: 100%;
    display: block;
  }
  #contact .contact-partner .contact-partner-group2 a{
    padding-bottom: 0;
    display: inline-block;
    text-align: center;
  }
  #contact .contact-partner h2{
    text-align: center;
    padding-top: 55px;
  }
  #footer .footer-overlay .footer-logo{
    padding-bottom: 45px;
  }
  .footer-contact-sub2{
    padding-bottom: 35px;
  }
  .footer-sub span{
    display: block;
  }
  .footer-sub span:nth-of-type(1){
    padding-top: 35px;
  }
  .footer-sub span:nth-of-type(2){
    padding: 0;
    padding :10px 0 !important;
  }
  .footer-sub span:nth-of-type(3){
    padding-bottom: 60px;
  }
  .footer-sub span:nth-of-type(4){
    float: left;
  }
  #footer .footer-overlay .footer-touch .footer-social a{
    margin-right:  11px;
  }
  #footer .footer-overlay .footer-touch .footer-input input{
    width: 75%;
  }
}
//End Media 320
@media only screen and (min-width: 375px){
  #contact .contact-partner .contact-partner-group1{
    width: 50%;
    display: inline-block;
    float: left;
  }
  #contact .contact-partner .contact-partner-group2{
    width: 50%;
    display: inline-block;
    float: left;
  }
}
//
@media only screen and (min-width: 425px){
  #main-works .main-works-img a img{
    width: 50%;
  }
  .main-team-content img {
    width: 50%;
    float: left;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 768px){
  #main-works .main-works-img a img{
    width: 33.33333%;
  }
  #contact .contact-partner h2{
    padding-top:0;
  }
  #contact .contact-partner .contact-partner-group1{
    width: 50%;
  }
  #contact .contact-partner .contact-partner-group2{
    width: 50%;
    float: left;
  }
  #contact .contact-partner .contact-partner-group1 a img{
    width: 90%;
    display: inline-block;
  }
  #contact .contact-partner .contact-partner-group2 a img{
    width: 90%;
    display: inline-block;
  }
  #footer .footer-overlay .footer-touch .footer-input input{
    width: 60%;
  }
  .footer-sub span:nth-of-type(4){
    float:none;
  }
  #footer .footer-overlay .footer-touch .footer-social a{
    margin-right: 30px;
    margin-bottom: 10px;
  }
  .main-team-content img{
    width: 100%;
    float: none;
  }
}
//End Media 768
@media only screen and (min-width: 992px){
  #contact .contact-partner .contact-partner-group1 a img{
    width: 83%;
    padding-bottom: 0;
  }
  #contact .contact-partner .contact-partner-group2 a img{
    width: 83%;
    padding-bottom: 0;
  }
  #main-works .main-works-img a img{
    width: 16.666666%;
  }
  .footer-sub span{
    display: inline-block;
  }
  .footer-sub span:nth-of-type(2){
    padding: 0 10px;
  }
  .footer-sub span:nth-of-type(1){
    padding:0;
  }
  .footer-sub{
    margin-top: 25px;
  }
  .footer-sub span:nth-of-type(4){
    float: right;
    padding-top: 10px;
  }
  .footer-sub span:nth-of-type(3){
    padding: 0;
  }
}
@media only screen and (min-width: 1024px){
  #main-works .main-works-img a img{
    width: 16.66666666%;
  }
}