.owl-theme .owl-nav.disabled+.owl-dots{
  margin-top: 0;
  padding-bottom: 70px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  background-color: $cl-blue;
  border: solid 1px $cl-blue;
}
.owl-theme .owl-dots .owl-dot span{
  width: 13px;
  height: 13px;
  border: solid 1px $cl-white;
  background-color: #d6d6d600;
}
#sld-active.owl-theme .owl-dot span{
  width: 10px;
  height: 10px;
}
