//Font face
@font-face {
  font-family: 'Hammershmith';
  src: url(../font/font-text/HammersmithOne.ttf);
}
@font-face {
  font-family: 'Playfair-Regular';
  src: url(../font/font-text/PlayfairDisplay-Regular.otf);
}
@font-face {
  font-family: 'Playfair-Regular-Black';
  src: url(../font/font-text/PlayfairDisplay-Black.otf);
}
@font-face {
  font-family: 'Playfair-Bold';
  src: url(../font/font-text/PlayfairDisplay-Bold.otf);
}
@font-face {
  font-family: 'Roboto', sans-serif;
}
//Color
$cl-blue: #1ccacf;
$cl-white : #ffffff;
$cl-black: #413d4b;
$cl-black-dark :#636268;
$cl-black-light :#c6c4c9;
$cl-gray :#ebebeb;
$bd-cl-gray:solid 1px #ebebeb;


